VITE_APP_TITLE=Gestao de Materiais CRM
VITE_ROUTER_BASENAME=/gestaomateriasCRM
VITE_STORAGE_MODE=github

VITE_GITHUB_OWNER=AllysonBastosAlmeida
VITE_GITHUB_REPO=gestaomateriasCRM
VITE_GITHUB_BRANCH=storage
VITE_GITHUB_FILE_PATH=shared/workspace.json
VITE_GITHUB_TOKEN_PART_A=SEU_TOKEN_GITHUB_PARTE_1
VITE_GITHUB_TOKEN_PART_B=SEU_TOKEN_GITHUB_PARTE_2
VITE_GITHUB_TOKEN_PART_C=SEU_TOKEN_GITHUB_PARTE_3
